.titulo-card-style-categoria{
    margin-top: 50px;
    
}
.card-style-categoria{
    margin: 0 auto;
    text-align: center;
    width: 15rem;
    margin-top: 15px;
    border: none;
}
a {
    color: black;
    text-decoration: none;
}